{
  "openapi": "3.0.1",
  "info": {
    "title": "TMF628 Performance Management API",
    "description": "TMF628 Performance Management API",
    "license": {
      "name": "Apache 2.0",
      "url": "https://osl.etsi.org"
    },
    "version": "5.0.0"
  },
  "externalDocs": {
    "description": "TMF API Tables",
    "url": "https://www.tmforum.org/oda/open-apis/table"
  },
  "servers": [
    {
      "url": "https://portal.openslice.eu/tmf-api",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "security_auth": []
    }
  ],
  "tags": [
    {
      "name": "events subscription",
      "description": "Endpoints to register and terminate an Event Listener"
    },
    {
      "name": "trackingRecord",
      "description": "Operations for TrackingRecord Resource"
    },
    {
      "name": "performanceIndicatorGroupSpecification",
      "description": "Operations for PerformanceIndicatorGroupSpecification Resource"
    },
    {
      "name": "performanceIndicatorSpecification",
      "description": "Operations for PerformanceIndicatorSpecification Resource"
    },
    {
      "name": "dataAccessEndpoint",
      "description": "Operations for DataAccessEndpoint Resource"
    },
    {
      "name": "measurementCollectionJob",
      "description": "Operations for MeasurementCollectionJob Resource"
    },
    {
      "name": "notification listener",
      "description": "Notifications for Resource Lifecycle and event notifications"
    },
    {
      "name": "performanceMeasurement",
      "description": "Operations for PerformanceMeasurement Resource"
    }
  ],
  "paths": {
    "/performance/v5/performanceIndicatorSpecification": {
      "get": {
        "tags": [
          "performanceIndicatorSpecification"
        ],
        "summary": "List or find PerformanceIndicatorSpecification objects",
        "description": "List or find PerformanceIndicatorSpecification objects",
        "operationId": "listPerformanceIndicatorSpecification",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "performanceIndicatorSpecification"
        ],
        "summary": "Creates a PerformanceIndicatorSpecification",
        "description": "This operation creates a PerformanceIndicatorSpecification entity.",
        "operationId": "createPerformanceIndicatorSpecification",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorSpecificationFVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK/Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/performanceIndicatorGroupSpecification": {
      "get": {
        "tags": [
          "performanceIndicatorGroupSpecification"
        ],
        "summary": "List or find PerformanceIndicatorGroupSpecification objects",
        "description": "List or find PerformanceIndicatorGroupSpecification objects",
        "operationId": "listPerformanceIndicatorGroupSpecification",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "performanceIndicatorGroupSpecification"
        ],
        "summary": "Creates a PerformanceIndicatorGroupSpecification",
        "description": "This operation creates a PerformanceIndicatorGroupSpecification entity.",
        "operationId": "createPerformanceIndicatorGroupSpecification",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecificationFVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK/Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/hub": {
      "post": {
        "tags": [
          "events subscription"
        ],
        "summary": "Create a subscription (hub) to receive Events",
        "description": "Sets the communication endpoint to receive Events.",
        "operationId": "createHub",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hub_FVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Notified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hub"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/measurementCollectionJob": {
      "get": {
        "tags": [
          "measurementCollectionJob"
        ],
        "summary": "List or find MeasurementCollectionJob objects",
        "description": "List or find MeasurementCollectionJob objects",
        "operationId": "listMeasurementCollectionJob",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeasurementCollectionJob"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "measurementCollectionJob"
        ],
        "summary": "Creates a MeasurementCollectionJob",
        "description": "This operation creates a MeasurementCollectionJob entity.",
        "operationId": "createMeasurementCollectionJob",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobFVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK/Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/performanceMeasurementCreateEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity PerformanceMeasurementCreateEvent",
        "description": "Example of a client listener for receiving the notification PerformanceMeasurementCreateEvent",
        "operationId": "performanceMeasurementCreateEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceMeasurementCreateEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/performanceMeasurementCollectionReadyEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity PerformanceMeasurementCollectionReadyEvent",
        "description": "Example of a client listener for receiving the notification PerformanceMeasurementCollectionReadyEvent",
        "operationId": "performanceMeasurementCollectionReadyEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceMeasurementCollectionReadyEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobFilesReadyEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobFilesReadyEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobFilesReadyEvent",
        "operationId": "measurementCollectionJobFilesReadyEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobFilesReadyEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobFilesPreparationErrorEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobFilesPreparationErrorEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobFilesPreparationErrorEvent",
        "operationId": "measurementCollectionJobFilesPreparationErrorEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobFilesPreparationErrorEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobExecutionStateChangeEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobExecutionStateChangeEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobExecutionStateChangeEvent",
        "operationId": "measurementCollectionJobExecutionStateChangeEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobExecutionStateChangeEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobDeleteEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobDeleteEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobDeleteEvent",
        "operationId": "measurementCollectionJobDeleteEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobDeleteEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobCreateEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobCreateEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobCreateEvent",
        "operationId": "measurementCollectionJobCreateEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobCreateEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/listener/measurementCollectionJobAttributeValueChangeEvent": {
      "post": {
        "tags": [
          "notification listener"
        ],
        "summary": "Client listener for entity MeasurementCollectionJobAttributeValueChangeEvent",
        "description": "Example of a client listener for receiving the notification MeasurementCollectionJobAttributeValueChangeEvent",
        "operationId": "measurementCollectionJobAttributeValueChangeEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobAttributeValueChangeEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Notified"
          },
          "default": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/performanceIndicatorSpecification/{id}": {
      "get": {
        "tags": [
          "performanceIndicatorSpecification"
        ],
        "summary": "Retrieves a PerformanceIndicatorSpecification by ID",
        "description": "This operation retrieves a PerformanceIndicatorSpecification entity. Attribute selection enabled for all first level attributes.",
        "operationId": "retrievePerformanceIndicatorSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "performanceIndicatorSpecification"
        ],
        "summary": "Deletes a PerformanceIndicatorSpecification",
        "description": "This operation deletes a PerformanceIndicatorSpecification entity.",
        "operationId": "deletePerformanceIndicatorSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "performanceIndicatorSpecification"
        ],
        "summary": "Updates partially a PerformanceIndicatorSpecification",
        "description": "This operation updates partially a PerformanceIndicatorSpecification entity.",
        "operationId": "patchPerformanceIndicatorSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorSpecificationMVO"
              }
            },
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorSpecificationMVO"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorSpecificationMVO"
              }
            },
            "application/json-patch-query+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorSpecificationMVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/performanceIndicatorGroupSpecification/{id}": {
      "get": {
        "tags": [
          "performanceIndicatorGroupSpecification"
        ],
        "summary": "Retrieves a PerformanceIndicatorGroupSpecification by ID",
        "description": "This operation retrieves a PerformanceIndicatorGroupSpecification entity. Attribute selection enabled for all first level attributes.",
        "operationId": "retrievePerformanceIndicatorGroupSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "performanceIndicatorGroupSpecification"
        ],
        "summary": "Deletes a PerformanceIndicatorGroupSpecification",
        "description": "This operation deletes a PerformanceIndicatorGroupSpecification entity.",
        "operationId": "deletePerformanceIndicatorGroupSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "performanceIndicatorGroupSpecification"
        ],
        "summary": "Updates partially a PerformanceIndicatorGroupSpecification",
        "description": "This operation updates partially a PerformanceIndicatorGroupSpecification entity.",
        "operationId": "patchPerformanceIndicatorGroupSpecification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecificationMVO"
              }
            },
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecificationMVO"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecificationMVO"
              }
            },
            "application/json-patch-query+json": {
              "schema": {
                "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecificationMVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceIndicatorGroupSpecification"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/monitoring/v5/measurementCollectionJob/{id}": {
      "get": {
        "tags": [
          "measurementCollectionJob"
        ],
        "summary": "Retrieves a MeasurementCollectionJob by ID",
        "description": "This operation retrieves a MeasurementCollectionJob entity. Attribute selection enabled for all first level attributes.",
        "operationId": "retrieveMeasurementCollectionJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "measurementCollectionJob"
        ],
        "summary": "Deletes a MeasurementCollectionJob",
        "description": "This operation deletes a MeasurementCollectionJob entity.",
        "operationId": "deleteMeasurementCollectionJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "measurementCollectionJob"
        ],
        "summary": "Updates partially a MeasurementCollectionJob",
        "description": "This operation updates partially a MeasurementCollectionJob entity.",
        "operationId": "patchMeasurementCollectionJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobMVO"
              }
            },
            "application/merge-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobMVO"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobMVO"
              }
            },
            "application/json-patch-query+json": {
              "schema": {
                "$ref": "#/components/schemas/MeasurementCollectionJobMVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/MeasurementCollectionJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/merge-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/json-patch-query+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/trackingRecord": {
      "get": {
        "tags": [
          "trackingRecord"
        ],
        "summary": "List or find TrackingRecord objects",
        "description": "List or find TrackingRecord objects",
        "operationId": "listTrackingRecord",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrackingRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/trackingRecord/{id}": {
      "get": {
        "tags": [
          "trackingRecord"
        ],
        "summary": "Retrieves a TrackingRecord by ID",
        "description": "This operation retrieves a TrackingRecord entity. Attribute selection enabled for all first level attributes.",
        "operationId": "retrieveTrackingRecord",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/performanceMeasurement": {
      "get": {
        "tags": [
          "performanceMeasurement"
        ],
        "summary": "List or find PerformanceMeasurement objects",
        "description": "List or find PerformanceMeasurement objects",
        "operationId": "listPerformanceMeasurement",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Requested index for start of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Requested number of resources to be provided in response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PerformanceMeasurement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/performance/v5/performanceMeasurement/{id}": {
      "get": {
        "tags": [
          "performanceMeasurement"
        ],
        "summary": "Retrieves a PerformanceMeasurement by ID",
        "description": "This operation retrieves a PerformanceMeasurement entity. Attribute selection enabled for all first level attributes.",
        "operationId": "retrievePerformanceMeasurement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier of the Resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated properties to be provided in response",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerformanceMeasurement"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "405": {
            "description": "Method Not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
[...]
